body {
    background-color: #eee;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: #fd9d9d;
    background-color: #edd;
}

h2 {
    font-family: 'Montserrat';
    text-align: center;
    color: #fd9d9d;
    font-size: 20px;
    font-weight: 400;
}

ol {
    list-style-position: inside;
    padding: 0;
}

.integrante {
    display: flex;
    align-items: flex star;
    gap: 15px;
    margin-bottom: 20px;
}

.imagen-integrante {
    max-width: 200px;
    height: auto;
}

.descripcion {
    font-size: 16px;
    color: #333;
    font-family: 'Montserrat';
    font-weight: 400;
}

.dueno-teammole {
    max-width: 200px;
    height: auto;
}

.descripcion-luiggi {
    font-size: 16px;
    color: #333;
    font-family: 'Montserrat';
    font-weight: 800;
}

.trolleito {
    font-family: 'Montserrat';
    text-decoration: none;
    color: #333;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 50px;
    background-color: #fff;
    display: inline-block;
}

.trolleito:hover {
    background-color: #ccc;
    color: #fff;
}
